In [8]:
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df = sns.load_dataset('iris')

In [3]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [4]:
df['sepal_length'].mean()

np.float64(5.843333333333334)

In [ ]:
setosa_sl = df[df['species'] == 'setosa']['sepal_length']
t_stat, p_value = stats.ttest_1samp(setosa_sl, 5.0)
t_stat, p_value

(np.float64(0.12036212238318053), np.float64(0.9046884777690936))

In [ ]:
versicolor_pw = df[df['species'] == 'versicolor']['petal_width']
virginica_pw = df[df['species'] == 'virginica']['petal_width']
t_stat, p_value = stats.ttest_ind(versicolor_pw, virginica_pw)
t_stat, p_value

(np.float64(-14.625367047410148), np.float64(2.2304090710248333e-26))

In [9]:
median_sl = df['sepal_length'].median()
df['sepal_length_cat'] = np.where(df['sepal_length'] < median_sl, 'Short', 'Long')

contingency = pd.crosstab(df['sepal_length_cat'], df['species'])
contingency

species           setosa  versicolor  virginica
sepal_length_cat
Long                   1          29         47
Short                 49          21          3

In [10]:
chi2, p_value, dof, expected = stats.chi2_contingency(contingency)
chi2, p_value

(np.float64(86.0345134317737), np.float64(2.0789439553315108e-19))

In [11]:
r, p_value = stats.pearsonr(df['sepal_length'], df['petal_length'])
r, p_value

(np.float64(0.8717537758865831), np.float64(1.038667419449872e-47))

In [15]:
df[df['species'] == 'setosa']['sepal_length'].mean()

np.float64(5.006)

In [16]:
df[df['species'] == 'versicolor']['sepal_length'].mean()

np.float64(5.936)

In [17]:
df[df['species'] == 'virginica']['sepal_length'].mean()

np.float64(6.587999999999998)